body {
    background: Khaki;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: gray;
}

header {
    text-align: center;
    padding: 30px 0;
    background-color: LightYellow;
    box-shadow: 0px 4px 8px;
}

header h1 {
    font-size: 50px;
    color: #B59410;
    text-shadow: 2px 2px 4px gray;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: DarkKhaki;
    border-radius: 5px;
}

center {
    margin: 50px 0;
}

img {
    width: 25%;
    height: auto;
    border-radius: 15px;
}

table {
    width: 50%;
    margin: 20px auto;
}

.color-button {
    background-color: #B59410;
    color: white;
    border: 2px solid #FFD700; 
    padding: 6px 12px; 
    margin: 10px; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    font-size: 18px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
	
}

.color-button:hover {
    background-color: #DAA520; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}
